
<% include ./include.css.ejs %>
<link rel='stylesheet' href="<%=G.CDN%>/pinterest_grid/pinterest_grid.css" />
<% include ./include.js.ejs %>

<% include ./nav.ejs %>

<br><br>
<div class="container gedf-wrapper mt-5">

  <div class="row justify-content-center">

    <!-- Left column -->
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="h5">@<%=person_info.username%></div>
          <div class="h7 text-muted">Fullname : <%=person_info.fullname%></div>
          <div class="h7">Interest: 
            <% interests.forEach((interest, index) => { %>
                  <%= interest.val %>
            <% }) %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Followers</div>
            <div class="h5">..</ddiv>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Friends</div>
            <div class="h5"><%=total_friend%></div>
          </li>
          <li class="list-group-item"><%=person_info.self_intro%></li>
          <li class="list-group-item">
            <% if(friend_view) { %>
              <% if(isfriend) { %>
              <button type='button' class='btn btn-primary btn-sm btn-dark' onClick="addFriend(<%=friend_view_id%>); $(this).toggleHtml('Unfriend', 'Add friend')">
                Unfriend
              </button>
              <% } else { %>
              <button type='button' class='btn btn-primary btn-sm btn-dark' onClick="addFriend(<%=friend_view_id%>); $(this).toggleHtml('Add friend', 'Un-friend')">
                Add friend
              </button>
              <% } %>
            <% } else { %>
            <button type='button' class='btn btn-primary btn-sm btn-dark' onclick="createUpdatePersonalInfoBootbox('<%=person_info%>')">
              Edit Profile
            </button>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
    <!-- Left column -->
    
    <!-- Middle column -->
    <div class="col-lg-6 gedf-main">
    
      <% if(!friend_view) { %>
        <!--  >>>>>>>Upload post Panel -->
        <button type='button' class="btn btn-primary btn-lg btn-block" onclick="createUploadPostBootbox()">
          <i class="fa fa-pencil"></i> Share your thought
        </button>
        <!--  <<<<<<Upload post Panel -->
      <% } %>


      <!-- >>>>>Start list of card -->
      <h3 class='mt-3'>Users activities</h3>

      <!-- >>>>list of card -->
      <div class='row'>
        <div id='post-list-dashboard' ref='post_list_dashboard' class="white-deck">
          <div class='grid-sizer col-md-4'></div>
          <div class="gutter-sizer"></div>
          <!--- >>>>>>Post-->
          <post-item v-for="(post, index) in posts"
                     :post_id='post.post_id'
                     :title='post.title'
                     :username='post.name'
                     :star_status = 'post.star_status'
                     :content='post.content'
                     :tags = 'post.tags'
                     :create_timestamp='post.create_timestamp'>
          </post-item>
          <!--- <<<<<<<Post-->
        </div>
        <!-- <<<<<list of card -->
      </div>

    </div>
    <!-- Middle column -->

    <!-- Right column -->
    <div class="col-lg-3">

      <!-- >>>>>>>Discover Friends Board -->
      <div id='user-list' class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Discover other innovator mind</h5>
          <ul class="list-group notification-list">
            <user-item v-for="(user, index) in users"
                       v-on:delete-row="addFriend(index)"
                       :id='user.id'
                       :name='user.username'
                       :email='user.email'>
            </user-item>
          </ul>
        </div>
      </div>
      <!-- <<<<<<<<Discover Friends Board -->

      <!-- >>>>>>>Friends Board -->
      <div id='friend-list' class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Say hello to your friends</h5>
          <ul class="list-group notification-list">
            <friendlist-item v-for="(user, index) in users"
                             :id='user.id'
                             :name='user.username'>
            </friendlist-item>
          </ul>
        </div>
      </div>
      <!-- <<<<<<<<Friends Board -->
    <!-- Right column -->

  </div>
</div>





<script>
  $(document).ready(function() {
    var selectize_post_tag = $('#selectize-post-tags').selectize({
        plugins: ["remove_button"],
        persist: true,
        maxItems: null,
        valueField: 'id',
        labelField: 'tag',
        searchField: ['tag'],
        options: [],
        loaded: false,
        preload: true, 
        render: {
          item: function(item, escape) {
            return (
              "<div>" +
              (item.tag
                ? '<span class="name">' + escape(item.tag) + "</span>"
                : "") +
              "</div>"
            );
          },
          option: function(item, escape) {
            var label = item.tag;
            return (
              "<div>" +
              '<span class="label">' +
              escape(label) +
              "</span>" +
              "</div>"
            );
          }
        },
        load: function(query, callback) {
            // if (!query.length) return callback();
          if(!this.loaded){
            this.loaded = true;
            $.ajax({
                url: '/selectPostTags',
                type: 'GET',
                dataType: 'json',
                error: function() {
                    console.log('Error loading ' + this.url);
                    callback();
                },
                success: function(res) {
                    console.log('Success loading ', res );
                    this.options = res;
                    callback(res);
                }
            });
          }
        }
    });
  });
</script>
<script src="/client.js"></script>



<% include ./footers.ejs %>